
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    margin: 13px auto 15px;
}

.header-nav {
    text-decoration: none;
}

.header-ul {
    display: flex;
    gap: 62px;
}

.header-link {
    font-size: 14px;
    line-height: 14px;
    color: #1c1c1c;
    text-decoration: none;
}

.button {
    height: 40px;
    width: 157px;
    border-radius: 20px;
    background: #6F2CFF;
    border: none;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.button:hover {
    background: #666;
    transition: 2s;
    cursor: pointer;
}

.main {
    background: #F6BED9;
    padding: 58px 0 59px;
}

.main-title {
    font-weight: 700;
    font-size: 54px;
    line-height: 61px;
    max-width: 470px;
}

.main-title-violet {
    color: #6F2DFF;
}

.main-text {
    font-size: 18px;
    line-height: 30px;
    max-width: 438px;
    margin: 18px 0;
}

.main-text-bold {
    font-weight: 700;
}

.main-input {
    height: 45px;
    width: 268px;
    border: 1px solid #6F2CFF;
    border-radius: 28px;
    padding-left: 26px;
}

.main-input::placeholder {
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.27);
}

.main-input:focus {
    outline: none;
}

.main-button {
    height: 45px;
    width: 187px;
    margin-left: 9px;
}

.grow {
    margin: 136px auto;
}

.grow-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #1C1C1C;
    max-width: 415px;
}

.grow-flex {
    display: flex;
    gap: 34px;
}

.grow-element {
    max-width: 333px;
    text-align: center;
}

.grow-item {
    padding: 35px 0 85px;
    box-shadow: 0px 2px 4px rgba(192, 192, 192, 0.5);
    border-radius: 0px 0px 7px 7px;
}

.grow-pretitle {
    font-size: 26px;
    line-height: 22px;
    margin-bottom: 28px;
}

.grow-text {
    font-size: 18px;
    line-height: 22px;
    color: #6F2CFF;
    max-width: 219px;
    margin: 0 auto;
}

.footer {
    padding: 58px 0;
    background:#20003C;
}

.footer-ul {
    display: flex;
    gap: 74px;
}

.footer-link {
    font-weight: 700;
    line-height: 21px;
    color: #fff;
    text-decoration: none; 
}